name: On merge

on:
  push:
    branches:
      - main
    paths:
      - .version
      - Dockerfile

permissions:
  contents: write
  packages: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Create and push tag
        id: tag
        uses: ./.github/actions/tag

      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
        with:
          platforms: >-
            linux/amd64,
            linux/arm64,
            linux/arm/v7

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: >-
            ghcr.io/jtyr/docker/asmttpd:latest,
            ghcr.io/jtyr/docker/asmttpd:${{ steps.tag.outputs.docker_tag }}
